<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- NotificationHubs specific app setings for messaging connections -->
    <add key="Microsoft.Azure.NotificationHubs.ConnectionString" value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />

    <!-- Bando de Dados -->
    <add key="mysqldb.DEV" value="server=localhost;user id=sysdba; password=masterkey; database=GROWLERDB; pooling=false" />
    <add key="mysqldb.PRD" value="Database=acsm_ffb87328300accc;Data Source=us-cdbr-azure-southcentral-f.cloudapp.net;User Id=b07419d7f4d164;Password=10234244" />
    <!--<add key="mysqldb.PRD" value="Database=growlerdb;Data Source=us-cdbr-azure-east2-d.cloudapp.net;User Id=b02a40d6180f19;Password=20c06385" />-->

    <!-- Queue -->
    <add key="AzureQueue.notificacaogrowler.DEV" value="UseDevelopmentStorage=true" />
    <add key="AzureQueue.notificacaogrowler.PRD" value="DefaultEndpointsProtocol=https;AccountName=storagegrowler;AccountKey=DMdOORM9610bTbrN94BircFZxNfY3Vd2WOwJ++/wVvcNYIdzsz2haJQonpst4amaeR/6iEYDAyBQaIeHUXZeDA==" />
    <!--<add key="AzureQueue.notificacaogrowler.PRD" value="DefaultEndpointsProtocol=https;AccountName=storagerc;AccountKey=4jaYJR7MEP6W4UjxI4ZNqJ5a+lw/yelS6e++QIg6Mvz5/UK74Dtj1K0ZxtHCBFiIvaqgk+UIwJOkzkbjNUPPUQ==" />-->

    <!-- Hub Notificação -->
    <add key="hubnotificacao.DEV" value="Endpoint=sb://hbgrowler.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Vc1sks/WApWBfO5OL5EimSc0uDA0wrUV9YryvzW9/Gk=" />
    <add key="hubnotificacao.PRD" value="Endpoint=sb://hbgrowler.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=Vc1sks/WApWBfO5OL5EimSc0uDA0wrUV9YryvzW9/Gk=" />
    <!--<add key="hubnotificacao.PRD" value="Endpoint=sb://hbscr13.servicebus.windows.net/  ;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=hS+NQ17Qu8CwNBVxzSWVY3ORJ4nK2lMNTFENbFc5Vck=" />-->


    

  </appSettings>
</configuration>